body {
    background-color: black;
    color: white;
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: rgba(67, 9, 9, 0.3); 
    backdrop-filter: blur(10px);         
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    

    ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    }

    li a:hover {
    color: rgb(136, 30, 51);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    }

    a{
        text-decoration: none;
        color: white;
    }
}



#intro {
    background: radial-gradient(circle, rgb(67, 9, 9) 0%, rgb(0, 0, 0) 70%, transparent 70%);   
    display: flex;
    height: 100vh;
}

#intro .nadpis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 30px;
    width: 33.33%;
}

#intro .foto {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro .foto img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    text-align: center;
    justify-content: center;
}

#intro .kdoJsem {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    width: 33.33%;
}

/*--------------responz-----------------*/
@media screen and (max-width: 970px) {
    #intro {
        flex-direction: column;
        align-items: center;
        height: auto;
        background: radial-gradient(circle, rgb(67, 9, 9) 0%, rgb(0, 0, 0) 80%, transparent 70%);
        height: 100vh;
    }

    #intro .foto {
        display: none;
    }

    #intro .nadpis,
    #intro .kdoJsem {
        width: 100%;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }

    #intro .nadpis {
        padding-left: 0;
    }

    #intro .kdoJsem {
        padding-right: 0;
    }
}

/*------------ about me--------- */
#about {
    font-size: 20px;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about .txt {
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    border-radius: 12px;
    max-width: 800px;
    background-color: rgb(67, 9, 9);
}

/*------kontakt-----------*/
#kontakt{
    display:flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(67, 9, 9);
    padding-top: 45px;
    justify-content: center;
    text-align: center;
}


/*-------projekty---------*/
#projekty {
    display:flex;
    height: 100vh;
    padding: 60px 20px;
    text-align: center;
}
