* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-weight: 400;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #f1e3d3;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #37373a;
}

body.scrolling::-webkit-scrollbar {
  width: 7.5px;
  height: 5px;
}

#backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #4D302A;
  background-color: none;
  border: 1px solid rgb(94, 64, 40);
  width: 50px;
  height: 50px;
  border-radius: 60%;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  z-index: 1000;
  transform: rotate(90deg);
}

#backToTop:hover {
  background-color: #4D302A;
  color: #ffffff;
  border: none;
}

#backToTop.show {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 768px) {
  #backToTop {
    bottom: 20px;
  right: 20px;
  }

}

.navbar {
  padding-top: 20px;
  padding-left: 40px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
  z-index: 1000;
}

.navbar a {
  background-color: rgba(206, 177, 151, 0.3);
  border: 2px solid #f1e3d3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: #ECDFD2;
  color: black;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  height: 50px;
  width: 100px;
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(206, 177, 151, 0.3);
  border: 2px solid #f1e3d3;
  border-radius: 40px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    gap: 0px;
  }

  .menu-toggle:checked+.menu-icon+.menu {
    display: flex;
  }

  .menu-icon {
    display: flex;
    backdrop-filter: blur(10px);
  }

  .menu a {
    margin: 3px 0;
    font-size: 15px;
    width: 110px;
    height: 40px;
    justify-content: center;
  }
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(315deg, #4D302A 3%, #BD8A5B 38%, #96775F 68%, #A8542A 98%);
  box-shadow: 0 4px 60px rgba(196, 162, 133, 0.3);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  font-weight: 400;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 100vh;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

#intro div {
  color: #E0C29B;
  transition: color 0.5s ease;
}

#intro div:hover {
  color: #2b211a;
}

#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #d1bca7;
  height: 100vh;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

#about h1 {
  padding-bottom: 40px;
  transition: all 0.3s ease;
}

#about h1:hover {
  color: #4D302A;
}

#about .container {
  display: flex;
  text-align: justify;
  gap: 220px;
  padding-left: 140px;
  padding-right: 140px;
}

#about .left,
#about .right {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

#about .left:hover,
#about .right:hover {
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.8),
    0 0 16px rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  #about .container {
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
  }
}

.introText {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 1s forwards;
  animation-delay: 0.5s;
  transition: all 1s ease-out;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #d1bca7;
  height: 100vh;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

#projects h1 {
  padding-bottom: 40px;
  transition: all 0.3s ease;
}

#projects h1:hover {
  color: #4D302A;
}

.swiper {
  width: 100%;
  max-width: 600px;
  height: 700px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #2b211a !important;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  .swiper {
    width: 80%;
    max-width: 400px;
    height: 500px;
  }
}

#contact {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  position: relative;
  color: #d1bca7;
}


#contact h1 {
  padding-bottom: 40px;
  transition: all 0.3s ease;
}

#contact h1:hover {
  color: #4D302A;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.social a img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.social a img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }

  .social a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }

}
