* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: #000000;
  font-weight: 400;
  color: white;
}


.navbar {
  padding-top: 20px;
  padding-left: 40px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
  z-index: 1000;
}

.navbar a {
  background-color: rgba(206, 177, 151, 0.3);
  border: 2px solid #f1e3d3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: #ECDFD2;
  color: black;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  height: 50px;
  width: 100px;
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(206, 177, 151, 0.3);
  border: 2px solid #f1e3d3;
  border-radius: 40px;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  backdrop-filter: blur(10px);
}


@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    gap: 0px;
  }

  .menu-toggle:checked+.menu-icon+.menu {
    display: flex;

  }

  .menu-icon {
    display: flex;
    backdrop-filter: blur(10px);
  }

  .menu a {
    margin: 3px 0;
    font-size: 15px;
    width: 110px;
    height: 40px;
    justify-content: center;
  }
}

/*----------------------------------------------------------*/


body #intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(315deg, #4D302A 3%, #BD8A5B 38%, #96775F 68%, #A8542A 98%);
  box-shadow: 0 4px 60px rgba(196, 162, 133, 0.3);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  font-weight: 400;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}


#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  /*  prizpusobuje text podle velikosti obrazovky  */
  position: relative;
}

#intro div {
  color: #E0C29B;
  transition: color 0.5s ease;
}

#intro div:hover {
  color: #2b211a;
}

#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #d1bca7;
  height: 100vh;
  font-size: clamp(1rem, 2vw, 1.5rem);

  h1 {
    padding-bottom: 40px;
  }

  .container {
    display: flex;
    text-align: justify;
    gap: 220px;
    padding-left: 140px;
    padding-right: 140px;
  }

  .left,
  .right {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }
}

.introText {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease-out;
}

.introText {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 1s forwards;
  animation-delay: 0.5s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/*-------------------------------------------*/

#projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ECDFD2;
  height: 100vh;
  font-size: clamp(1rem, 2vw, 1.5rem);

  h1{
    padding-bottom: 50px;
  }
}

.swiper {
  width: 100%;
  max-width: 600px;
  height: 700px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.swiper-button-prev, .swiper-button-next{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
}

@media (max-width: 768px) {
  .swiper {
    width: 80%;
    max-width: 400px;
    height: 500px;
  }
}

/*-------------------------------------*/

#contact {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  position: relative;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.social a img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.social a img:hover {
  transform: scale(1.1);
}